@import "tailwindcss";

:root {
  --background: #f5faf8;
  --foreground: #171717;
  --primary-green: #2D5A5A;
  --font-urbanist: 'Urbanist', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-green: var(--primary-green);
  --font-sans: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist);
}
